/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* Main styles */

html, body {
  height: 100%;
  position: relative;
}

body {
  background-color: #fbfbfb;
  color: #111;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

a {
  color: #2db3d5;
  text-decoration: none;
}

header {
  background-color: #41fcfe;
  padding: 5px;
  height: 60px;
  position: relative;
}

header li {
  display: inline-block;
}

#logo a {
  font-size: 3.2rem;
  color: #fff;
  margin-left: 10px;
}

#logo a:hover {
  color: #111;
}

#add {
  font-size: 6rem;
  font-family: Arial;
  float: right;
  text-align: center;
  line-height: 3.7rem;
}

#add a {
  color: #111;
}

#add a:hover {
  color: #fff;
}

#wrapper {
  position: relative;
  max-width: 1000px;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
  padding-bottom: 100px;
}

.inner {
  padding: 0 10px;
}

.detail {
  margin-top: 30px;
}

footer {
  background-color: #111;
  padding: 20px;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  margin-top: 20px;
  text-align: right;
}

footer a {
  color: #eee;
}

h1 {
  font-size: 1.8rem;
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 200;
  background-color: #fff;
  color: #111;
  display: inline-block;
  padding: 5px 10px;
}

h3, h2 {
  line-height: 1.5rem;
  font-size: 1.5rem;
  font-weight: 200;
}

h2 {
  margin: 10px 0 20px;
  font-size: 1.8rem;
  line-height: 1.9rem;
}

h3.head {
  padding: 10px;
  background-color: #fff;
  color: #666;
}

h3.tracklist, h3.note {
  margin-top: 25px;
  padding: 0 10px;
}

h3.note {
  margin-top: 45px;
}

h3 span {
  color: #3fe4a4;
}

h3 span, h3.tracklist, h3.note {
  font-size: 2.1rem;
  padding-right: 15px;
}

/* Forms */

.login {
  float: right;
  width: 250px;
}

.login input {
  display: inline-block;
  width: 115px;
  font-size: 1rem;
  margin-bottom: 3px;
}

.forgot {
  font-size: 0.9rem;
  color: #111;
}

.email span {
  display: inline-block;
  margin-left: 20px;
  margin-bottom: 30px;
}

form {
  width: 100%;
  position: relative;
}

form input {
  border: 1px solid #ccc;
  background-color: #fff;
  padding: 1%;
  font-size: 1.2rem;
  margin-bottom: 10px;
  width: 80%;
}

.errors {
  background-color: #f00;
  color: #fff;
  padding: 5px;
  position: absolute;
  bottom: 0;
  z-index: 2;
}

.login .errors {
  bottom: -33px;
}

label {
  display: block;
  clear: both;
  float: left;
  width: 100%;
}

textarea {
  border: 1px solid #ccc;
  background-color: #fff;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  resize: vertical;
  width: 80%;
  display: block;
  height: 300px;
  padding: 1%;
  margin-bottom: 10px;
}

.mixes li {
  margin-bottom: 10px;
}

.mixes li:hover h3 {
  background-color: #111;
  color: #eee;
}

.tracklisting {
  border-left: 5px solid #fff;
  padding-left: 20px;
  margin: 20px 0;
}

.tracklisting li {
  font-size: 1rem;
  line-height: 1.2rem;
  border-bottom: 1px solid #fff;
  padding: 5px 0;
}

.notes {
  background-color: #fffa7b;
  margin: 10px;
  padding: 20px;
}

.notes a {
  color: #2095a0;
}

.notes p {
  font-size: 1.1rem;
  line-height: 1.4rem;
  margin: 2px 0;
}

#actions {
  position: relative;
  margin-bottom: 20px;
}

.delete {
  display: inline-block;
}

button, .edit a {
  cursor: pointer;
  border: 0;
  color: #fff;
  background-color: #111;
  font-size: 1.1rem;
  display: inline-block;
  margin: 5px 10px;
  padding: 5px;
  text-align: center;
  width: 120px;
}

.delete button {
  background-color: #e42727;
}

.login button {
  float: right;
  padding: 2px;
  margin: 0;
  width: 122px;
  margin-right: 2px;
}

.edit a, .update button {
  background-color: #111;
  color: #eee;
}

.edit a {
  float: right;
  padding: 8px 5px;
}

.user-actions a {
  display: inline-block;
  margin: 0 10px;
}
